body {
    background: #e0f7fa;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;

}

.fishing-log {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #0288d1;
}

.fishing-log h1 {
    text-align: center;
    color: #0288d1;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    font-size: 56px;

}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #0288d1;
    background: #ffffff;
    font-size: 20px;
    padding: 5px 0;


}

.list-group-item:hover {
    background-color: #b3e5fc;
}

button {
    margin-left: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;

}

button:hover {
    background-color: #0277bd;
}

.form-control {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #0288d1;
    border-radius: 5px;
    background: #f1f8e9;
    color: #333;
    font-size: 16px;

}

.form-control:focus {
    outline: none;
    border-color: #0277bd;
}

.modal-content {
    border-radius: 10px;
    border: 1px solid #0288d1;
}

.modal-header, .modal-footer {
    background: #0288d1;
    color: white;
    border-bottom: 1px solid #0288d1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-footer {
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-body {
    background: #e1f5fe;
    font-size: 18px;

}

.modal-title {
    font-family: 'Pacifico', cursive;
    font-size: 28px;

}

.alert {
    background-color: #ffcdd2;
    color: #b71c1c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;

}
